{% extends "layout.html" %}
{% block title %}
History
{% endblock %}

{% block main %}
<table class="table table-striped table-dark">
    <thead>
        <th>Symbol</th>
        <th>Company</th>
        <th>Action</th>
        <th>Shares</th>
        <th>TotalValue</th>
        <th>TransactedOn</th>
    </thead>
    <tbody>
        {% for row in info %}
        <tr>
            {% if row['Shares'] %}
            <td>{{row['Symbol']}}</td>
            <td>{{row['Company']}}</td>
            <td>{{row['Action']}}</td>
            <td>{{row['Shares']}}</td>
            <td>{{row['TotalValue']}}</td>
            <td>{{row['TransactedOn']}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}