{% extends "layout.html" %}
{% block title %}
Sell
{% endblock %}
{% block main %}
<form action="/sell" method="POST">
    <div class="form-group">
        <select name="symbol" class="form-control custom-select" required>
            <option selected disabled value="">Pick</option>
            {% for stock in stocks %}
            {% if stock['sum(Shares)'] %}
            <option value="{{stock["Symbol"]}}">{{stock["Symbol"]}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" required name="shares" placeholder="No of Shares">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}